@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("raleway.eot");
  src: local("Raleway"),
    url("raleway.woff") format("woff"),
    url("raleway.svg#Raleway") format("svg"),
    url("raleway.eot?#iefix") format("embedded-opentype"),
    url("raleway.ttf") format("truetype")
}
